main{
    border: 5px solid brown;
    /* width: 50%; */
width: 50vw;
}

body{
    font-size: 2em;
}
header{
    font-size: 2em;
}
h1{
    font-size: 2rem;
}
p{
    font-size: 1.2rem;
}
h3{
    font-size: 2.5rem;
}
section
{
    border: 5px dashed green;
    width: 50%;
}