*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outerbox{
width: 100vw;
height: 100vh; 
    background-color: aqua;
}

body{

font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.innerbox{

    border: 2px;
    
}